use Mix.Config

config :alephium_miner_bot, :alph_node_ip, "localhost"
config :alephium_miner_bot, :alph_node_port, "12973"
config :alephium_miner_bot, :alph_node_api_key, ""
config :alephium_miner_bot, :alph_node_wallet_name, ""
config :alephium_miner_bot, :alph_node_wallet_password, ""

config :alephium_miner_bot, :worker_hashrate_interval, 5_000
config :alephium_miner_bot, :worker_ip_interval, 5_000
config :alephium_miner_bot, :telegram_bot_token, ""
config :alephium_miner_bot, :telegram_chat_id, ""